<body>
<h1>Hiii i am notifications</h1>
<div class="outer-consult">
    <% for(let consult of consultInfo){ %>
            <div class="inner-consult">
                <h3>Name:<%= consult.username %></h3>
                <p>Phoneno.:<%= consult.number %></p>
                <p>Age:<%= consult.age %></p>
                <p>Email:<%= consult.email %></p>
                <p>Gender:<%= consult.gender %></p>
                <p>Consulting For:<%= consult.disease %></p>
                <p>Appointment Timing:<%= consult.time %></p>
                <form method="post" action="/consult/notifications/<%= consult.id %>?_method=DELETE">
                    <button>Delete Appointment</button>
                </form>
            </div>
            <br>
    <% } %>
    <a href="/">Back</a>
</div>
</body>